*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

#first{
    background-color: #F44336;
    padding: 20px 10px 20px 10px;
}

#first p{
    color: white;
    text-align: right;
}



#first>div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#first img{
    width: 200px;
    height: 50px;
}

#first input{
    width: 500px;
    height: 40px;
    border-radius: 20px;
    border: none;
    padding: 0px 10px 0px 10px;
}

#first a{
    color: white;
    text-decoration: none;
}

#second>ul{
    width: 100%;
    display: flex;
    background-color: #303F9F;
    justify-content: space-around;
}

#second>ul ul{
    display: none;
}

#second>ul li{
    list-style: none;
}

#second a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px;
}

#second a:hover{
    background-color: #F44336;
}

#filterSort{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#filterSort select{
    margin: 10px;
}

#phones-container{
    /* border: 1px solid red; */
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#phones-container>div{
    /* border: 1px solid black; */
    padding: 10px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

#phones-container img{
    max-width: 100%;
}

#phones-container p{
    margin: 10px 0px 10px 0px;
}

#phones-container button{
    display: block;
    margin: auto;
    border: none;
    border-radius: 2px;
    padding: 10px;
    color:white;
    background-color: #F44336;
    font-weight: bolder;

}

#phones-container button:hover{
    background-color: #303F9F;
}


#footer{
    background-color: #303F9F;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

#footer>div{

    display: flex;
    flex-direction: column;
}

#footer h3,#footer a{
    color: white;
    text-decoration: none;
}

#footer>div:last-child{
    grid-column-start: 2;
    grid-column-end: 4;
}

#footer img{
    width: 25%;
}